<div id= "rolo">
	<%= image_tag "rolo.png", :alt => "rolo papel manteiga" %>
</div>

<div class="intro">
  <div class="heading">
    <%= image_tag "oliwia.png", :alt => "oliwia" %>
    <%= image_tag "balloon.png", :alt => "oliwia", :id => "balloon" %>
    <p><strong>oliwia way project</strong></p>
  </div>
  <div>
    <p><strong>oliwia</strong>
      behind her black velvet hair, Oliwia is a shy and charming girl who learned how to enjoy life intensively. she was born healthier than any other child around her, but was soon left alone. no family or friends understood her excessive love. love for smiling, dancing, running, creating and inspiring others around her. instead of one heart, she was born with two and carried them in her hands. when she was just a little girl she found herself in a unique world, where life became a universe of dreams and fantasies. welcome to the world where she found her way to be happy.
    <br><br><strong>her mentor</strong>
      Kalina Juzwiak is an architect and artist inspired by the universe that surrounds her. since her childhood, she finds in the artistic creation a way to merge her influences from her ancestors and her future perspectives. art represents to her a moment of exclusivity with herself in the present. this is the way she communicates her state of heart and mind to the rest of the world.
    </p>
  </div>
</div>  

<!-- JQUERY SCROLLABLE !-->

<a class="prev">
  <%= image_tag "arrowleft.png", :alt => "left" %></a>

<a class="next">
  <%= image_tag "arrowright.png", :alt => "right" %></a>

<div class="scrollable">   
	<div class="items">
  
		<div>
      
    </div>
      
    <div>
   	  <%= image_tag "day1.png", :alt => "day 1" %>   
    </div>

    <div>
      <%= image_tag "day2.png", :alt => "day 2" %>   
    </div>

    <div>
      <p>...</p> 
    </div>

  </div>
</div>

	</div>
</div>

  <%= link_to "http://www.facebook.com/kaju.ink", :target => "_blank", do %>
  <%= image_tag "fb.png", :alt => "kaju ink", :id => "fb" %>
<% end %>

<div id= "fbapp">
  <div class="fb-like" data-href="http://www.facebook.com/kaju.ink" data-send="false" data-layout="box_count" data-width="200" data-show-faces="true" data-font="lucida grande"></div></div>