<div class="wrapper">

  <div id= "rolo">
    <%= image_tag "rolo.png", :alt => "rolo papel manteiga" %>
  </div>

  <div id="social">
    <%= link_to "http://www.facebook.com/kaju.ink", :target => "_blank" do %>
    <%= image_tag "fb.png", :alt => "kaju ink", :id => "fb" %>
    <% end %>

    <div class="fb-like" data-href="http://www.facebook.com/kaju.ink" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande">
    </div>

    <%= link_to "http://www.wix.com/kcjuzwiak/art", :target => "_blank" do %>
    <%= image_tag "ki.png", :alt => "kaju ink", :id => "ki" %>
    <% end %>

  </div>

  <div id="oliwia">
    <%= image_tag "oliwia.png", :alt => "oliwia" %>
    <%= image_tag "balloon.png", :alt => "balloon", :id => "balloon" %>
  </div>

  <div id="intro">
      <p>
        <strong>oliwia</strong>
        behind her black velvet hair, she is a shy and charming girl who learned how to enjoy life intensively. she was born healthier than any other child around her, but was soon left alone. no family or friends understood her excessive love. love for smiling, dancing, running, creating and inspiring others around her. instead of one heart, she was born with two and carried them in her hands. when she was just a little girl she found herself in a unique situation, where life could be filled with dreams and fantasies. welcome to the world where she found her path to happiness.
      </p>
      <p><h1>oliwia way project</h1></p>
      <p>
        <strong>her mentor</strong>
        Kalina Juzwiak is the founder of kaju ink, an illustration company that offers an inspiring form of art. it relies on various painting techniques that are applied to virtually any kind of surfaces. Kalina is an architect and artist inspired by the universe that surrounds her. since her childhood, she finds in the artistic creation a way to merge the influences from her ancestors with her future perspectives. art represents to her a moment of exclusivity with herself in the present. this is the way she communicates her state of heart and mind to the world.
      </p>
  </div>

  <div id="rolo_papel_tela">
    <div class="scrollable">   
      <div class="items">
    
        <div class="ghost">
          <%= image_tag "ghost.png", :alt => "welcome" %> 
        </div>

        <div>
          <%= image_tag "day0.png", :alt => "day 0" %> 
        </div>
          
        <div>
          <%= image_tag "day1.png", :alt => "day 1" %>   
        </div>

        <div>
          <%= image_tag "day2.png", :alt => "day 2" %>   
        </div>

        <div>
          <%= image_tag "day3.png", :alt => "day 3" %>   
        </div>

        <div>
          <%= image_tag "day4.png", :alt => "day 4" %>   
        </div>

        <div>
          <%= image_tag "day5.png", :alt => "day 5" %>   
        </div>

        <div>
          <%= image_tag "day6.png", :alt => "day 6" %>   
        </div>

        <div>
          <%= image_tag "day7.png", :alt => "day 7" %>   
        </div>

        <div>
          <%= image_tag "day8.png", :alt => "day 8" %>   
        </div>

        <div>
          <%= image_tag "day9.png", :alt => "day 9" %>   
        </div>

        <div>
          <%= image_tag "day10.png", :alt => "day 10" %>   
        </div>

        <div>
          <%= image_tag "day11.png", :alt => "day 11" %>   
        </div>

        <div>
          <%= image_tag "day12.png", :alt => "day 12" %>   
        </div>

        <div>
          <%= image_tag "day13.png", :alt => "day 13" %>   
        </div>

        <div>
          <%= image_tag "day14.png", :alt => "day 14" %>   
        </div>

        <div>
          <%= image_tag "day15.png", :alt => "day 15" %>   
        </div>

        <div>
          <%= image_tag "day16.png", :alt => "day 16" %>   
        </div>

        <div>
          <%= image_tag "day17.png", :alt => "day 17" %>   
        </div>

        <div>
          <%= image_tag "day18.png", :alt => "day 18" %>   
        </div>

        <div>
          <%= image_tag "day19.png", :alt => "day 19" %>   
        </div>

        <div>
          <%= image_tag "day20.png", :alt => "day 20" %>   
        </div>

        <div>
          <%= image_tag "day21.png", :alt => "day 21" %>   
        </div>

        <div>
          <%= image_tag "day22.png", :alt => "day 22" %>   
        </div>

        <div>
          <%= image_tag "day23.png", :alt => "day 23" %>   
        </div>

        <div>
          <%= image_tag "day24.png", :alt => "day 24" %>   
        </div>

        <div>
          <%= image_tag "day25.png", :alt => "day 25" %>   
        </div>

        <div>
          <%= image_tag "day26.png", :alt => "day 26" %>   
        </div>

        <div>
          <%= image_tag "day27.png", :alt => "day 27" %>   
        </div>

        <div>
          <%= image_tag "day28.png", :alt => "day 28" %>   
        </div>

        <div>
          <%= image_tag "night.png", :alt => "oliwia is having fun" %>
        </div>
      </div>
    </div>
  </div>

  <div class="controls">
    <a href="#" class="prev">
      <%= image_tag "arrowleft.png", :alt => "previous", title: "previous day" %></a>

    <a href="#" class="fast">
      <%= image_tag "fast.png", :alt => "fast", title: "fast forward to last day" %></a>

    <a href="#" class="home">
      <%= image_tag "home.png", :alt => "home", title: "back to the first day" %></a>

      <a href="#" class="play">
      <%= image_tag "play.png", :alt => "last day", title: "play all days" %></a>

    <a href="#" class="next">
      <%= image_tag "arrowright.png", :alt => "next", title: "next day" %></a>
  </div>
  <div id="by">
    website by <%= link_to "http://www.facebook.com/marcos.korody", :target => "_blank" do %>mk 
    <% end %>
    &amp;
    <%= link_to "http://www.facebook.com/mohamado", :target => "_blank" do %>mh
    <% end %>
  </div>
</div>