<!DOCTYPE html>
<html lang="pt">
  <head>

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    
    <title><%= title %></title> 

    <%= csrf_meta_tag %>

    <%= javascript_include_tag "scrolling.js", "floating.js", "newposts.js", "jqscrollto.js", "shuffeling.js", "bouncing.js" %>

    <%= render 'layouts/stylesheets' %>
  </head>
<body>
    <div class="container">
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>




  